.body{
    font-family: Arial;
}
td{
    background-color: green;
    color:red;
    text-align: center;
    border-bottom: 1px solid black;
    border-left:1px solid black;
    height: 15px;
    width: 15px;
}
td:first-child{
    border-left:0px;
}
td:hover{
    background-color: darkgoldenrod;
}
table{
    border-collapse: collapse;
    border: 3px solid black;

}
#block{
    border-collapse: collapse;
    border: 3px solid black;
}
button{
    background-color: yellowgreen;
}