.body{
    font-family: Arial;
}
td{
    background-color: ghostwhite;
    color:red;
    text-align: center;
    border-bottom: 1px solid black;
    border-left:1px solid black;
    height: 15px;
    width: 15px;
}
td:first-child{
    border-left:0px;
}
td:hover{
    transition: 1s
}
table{
    border-collapse: collapse;
    border: 3px solid black;

}